<h1>Editing author</h1>

<%= render 'form' %>

<%= link_to 'Show', @author, html_options = {class: "btn btn-primary"} %> |
<%= link_to 'Back', authors_path, html_options = {class: "btn btn-default"} %>
